<a href="https://colab.research.google.com/github/seaSharkDenis/Data-Analysis-With-Python/blob/main/dictionaryDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Creating DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
# Basic filtering
df_filtered = df[df['Age']>30]
print(df_filtered)

      Name  Age     City
2  Charlie   35  Chicago

In [7]:
# Multiple conditions
df_filtered_one = df[(df['Age']>20) & (df['City']=='New York')]
print(df_filtered_one)

    Name  Age      City
0  Alice   25  New York