<a href="https://colab.research.google.com/github/seaSharkDenis/Data-Analysis-With-Python/blob/main/dictionaryDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

# Creating DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Denis'],
    'Age': [25, 30, 35, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    Denis   30     New York

In [12]:
# Basic filtering
df_filtered = df[df['Age']>25]
print(df_filtered)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    Denis   30     New York

In [13]:
# Multiple conditions
df_filtered_one = df[(df['Age']>20) & (df['City']=='New York')]
print(df_filtered_one)

    Name  Age      City
0  Alice   25  New York
3  Denis   30  New York

In [14]:
# Aggregating data
# Groupby: pandas groupby method is essential for aggregating data based on
# one or more columns. For example:
grouped = df.groupby('City').agg({'Age': 'mean', 'Name': 'count'})
print(grouped)

              Age  Name
City
Chicago      35.0     1
Los Angeles  30.0     1
New York     27.5     2